@tailwind base;

@tailwind components;

@tailwind utilities;

ul {
  @apply list-disc;
}

h2 {
  @apply mb-3;
}

h2 > a {
  @apply py-1 border-b border-solid;
}

a.css-1r0pe6c {
  @apply no-underline;
}

a.css-1r0pe6c:hover {
  @apply no-underline;
  border-bottom-width: 3px;
}

html,
body {
  height: 100% !important;
}
body {
  display: flex !important;
  flex-direction: column !important;
}
.content {
  flex: 1 0 auto !important;
}
